.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.contact__title {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: uppercase;
}

.contact__links-title {
    text-transform: capitalize;
    font-size: var(--size-l);
    color: var(--clr-slate400);
}

.contact__links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact__link{
    font-size: var(--size-base);
    font-weight: 600;
    color:  rgba(225, 29, 79, 0.7);
    letter-spacing: -0.02em;
    transition: color 0.3s;
}

.contact__link:hover{
    color: var(--clr-violet);
}

/*XS*/
@media (min-width: 475px){
    .contact {
       gap: 1.5rem;
    }
    
    .contact__title {
        font-size: var(--size-3xl);
    }
    
    .contact__links-title {
        font-size: var(--size-xl);
    }

    .contact__links {
        gap: 1rem;
    }

    .contact__link{
        font-size: var(--size-l);
    }
}

/*S*/
/* @media (min-width: 640px){} */

/*M*/
/* @media (min-width: 768px){} */

/*L*/
@media (min-width: 1024px){
     .contact__title {
         font-size: var(--size-4xl);
     }
     
    .contact__links-title {
        font-size: var(--size-2xl);
    }

    .contact__links {
        gap: 1.5rem;
    }

    .contact__link{
        font-size: var(--size-xl);
    }
}

/*XL*/
@media (min-width: 1280px){
    .contact {
        gap: 2rem;
     }
     
     .contact__title {
         font-size: var(--size-5xl);
     }
     
     .contact__links-title {
        font-size: var(--size-3xl);
    }

    .contact__links {
        gap: 2rem;
    }

    .contact__link{
        font-size: var(--size-2xl);
    }
}

/*XXL*/
/* @media (min-width: 1536px){} */