.projects,
.projects__info,
.projects__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects__subtitle {
    font-size: var(--size-2xl);
    color: var(--clr-light);
    text-transform: uppercase;
}

.projects__title {
    margin-top: 5rem;
    color: var(--clr-slate400);
    letter-spacing: -0.05em;
    line-height: 0.9;
    font-size: var(--size-l);
    text-transform: capitalize;
    font-weight: 400;
}

.projects__iframe-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.projects__iframe{
    position: absolute;
    border-color: rgba(225, 29, 79, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.projects__link{
    font-size: var(--size-s);
    font-weight: 600;
    color:  rgba(225, 29, 79, 0.7);
    letter-spacing: -0.02em;
    transition: color 0.3s;
}

.projects__link:hover{
    color: var(--clr-violet);
}

.projects__description{
    margin-top: 0em;
    margin-bottom: 0em;
    max-width: 60ch;
    font-size: var(--size-s);
    color: var(--clr-slate600);
}

.projects__label {
    font-size: var(--size-base);
    text-transform: capitalize;
    margin-bottom: 0.25em;
}

.projects__ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 0em;
    flex: 1;
    list-style: none;
}

.projects__li {
    font-size: var(--size-s);
    color: var(--clr-slate600);
    text-transform: capitalize;
}

.projects__info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.projects__info-container div{
    flex: 1;
    min-width: 250px;
}

/*XS*/
@media (min-width: 475px){
    .projects__subtitle {
        font-size: var(--size-3xl);
    }
    .projects__title {
        font-size: var(--size-xl);
    }
    .projects__link {
        font-size: var(--size-base);
    }
    .projects__description {
        font-size: var(--size-base);
        margin: 0.5rem 0;
    }

    .projects__label {
        font-size: var(--size-l);
    }
    
    .projects__li {
        font-size: var(--size-base);
    }
}

/*S*/
/* @media (min-width: 640px){} */

/*M*/
/* @media (min-width: 768px){} */

/*L*/
@media (min-width: 1024px){
    .projects__subtitle {
        font-size: var(--size-4xl);
    }
    .projects__title {
        font-size: var(--size-2xl);
    }
    .projects__link {
        font-size: var(--size-l);
    }
    .projects__description {
        font-size: var(--size-l);
    }

    .projects__label {
        font-size: var(--size-xl);
    }
    
    .projects__li {
        font-size: var(--size-l);
    }
}

/*XL*/
@media (min-width: 1280px){
    .projects__subtitle {
        font-size: var(--size-5xl);
    }
    .projects__title {
        font-size: var(--size-3xl);
    }
    .projects__link {
        font-size: var(--size-xl);
    }
    .projects__description {
        font-size: var(--size-xl);
    }

    .projects__label {
        font-size: var(--size-2xl);
    }
    
    .projects__li {
        font-size: var(--size-xl);
    }
}

/*XXL*/
@media (min-width: 1536px){
    .projects__info {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: top;
    }
    .projects__iframe-wrapper{
        padding-top: 0;
    }
}