.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 10rem;
}

/*XS*/
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
}

/*S*/
@media (min-width: 640px){

    .container{
        max-width: 640px;
    }

}

/*M*/
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
}

/*L*/
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}

/*XL*/
@media (min-width: 1280px){
    .container{
        max-width: 1280px;
    }
}

/*XXL*/
@media (min-width: 1536px){
    .container{
        max-width: 1536px;
    }
}
